@mixin theme-dark($opacity: 1) {
  background-color: rgba(16, 16, 16, $opacity);
  color: #dddddd;
  .hov-highlight:hover {
    background-color: rgba(32, 32, 32, $opacity);
  }
  .hov-highlight:active {
    background-color: rgba(64, 64, 64, $opacity);
  }
}